.container {
  height: 100vh;
  padding: 5rem 5rem;
  margin-bottom: 1rem;
}

.characters {
  color: #e7ebe8;
  border-bottom: 1px solid #e7ebe8;
  padding-bottom: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
